doctor.json
[{"id":"c89daa26.37cb78","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"639d36bd.14ed28","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"7f2d6a61.77d824","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"fc3b9a34.4062c8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9908cc53.d922a","type":"ui_group","z":"","name":"Temperature","tab":"4fe77df2.301854","disp":true,"width":"6","collapse":false},{"id":"fc3b9a34.4062c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"f0cd91b1.e7aa9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9fdef84.9230c","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"e759ae10.05055","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"d9363bbf.be8d78","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"f3ff5f7c.7ebd1","type":"ui_group","z":"","name":"Heart Rate","tab":"4fe77df2.301854","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d13f501.a6963c","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"4fe77df2.301854","disp":true,"width":"6","collapse":false},{"id":"8c01eebc.befcc","type":"ui_group","z":"","name":"Blood Pressure","tab":"4fe77df2.301854","disp":true,"width":"6","collapse":false},{"id":"3a9f157c.6a950a","type":"aws-iot-device","z":"","name":"device-1","clientId":"device-1","endpoint":"$aws/things/device-1/shadow/get","awscerts":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/certs/"},{"id":"f5fd5f16.22793","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"74670f5b.383e3","type":"mqtt-broker","z":"","name":"","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"639d36bd.14ed28","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e5ebb6e.787098","type":"ui_group","z":"","name":"Battery","tab":"","disp":true,"width":"6","collapse":false},{"id":"3ca02537.99134a","type":"tls-config","z":"","name":"patient1","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient1/ff77745a0f-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient1/ff77745a0f-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"8bdb7671.dcb848","type":"mqtt-broker","z":"","name":"patient1","broker":"a1s4iqwtwm0s0d-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"3ca02537.99134a","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f39c8249.4b6c4","type":"tls-config","z":"","name":"patient2","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient2/69216ee5e3-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient2/69216ee5e3-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient2/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"efa67bbb.2242a8","type":"mqtt-broker","z":"","name":"patient2","broker":"a1mfzk2kl56jkn-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"f39c8249.4b6c4","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d86fd008.c0fc2","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient3/069d309a79-certificate.pem - Copy.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient3/069d309a79-private.pem - Copy.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/patient3/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"6a0b36b2.5585a8","type":"mqtt-broker","z":"","name":"patient3","broker":"a2ob18fywqijip-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"d86fd008.c0fc2","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4fe77df2.301854","type":"ui_tab","z":"","name":"Patient 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"189f5e07.59c8f2","type":"ui_tab","z":"","name":"Patient 2","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d53a3b04.af2c58","type":"ui_tab","z":"","name":"Patient 3","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4d84911d.19e6d","type":"ui_group","z":"","name":"Temperature","tab":"189f5e07.59c8f2","disp":true,"width":"6","collapse":false},{"id":"294a3926.2b6a66","type":"ui_group","z":"","name":"Heart Rate","tab":"189f5e07.59c8f2","disp":true,"width":"6","collapse":false},{"id":"269a5f45.a5092","type":"ui_group","z":"","name":"Blood Pressure","tab":"189f5e07.59c8f2","disp":true,"width":"6","collapse":false},{"id":"3d774b89.301ed4","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"189f5e07.59c8f2","disp":true,"width":"6","collapse":false},{"id":"7c1f38c8.6a1a08","type":"ui_group","z":"","name":"Temperature","tab":"d53a3b04.af2c58","disp":true,"width":"6","collapse":false},{"id":"bf375df8.45b58","type":"ui_group","z":"","name":"Heart Rate","tab":"d53a3b04.af2c58","disp":true,"width":"6","collapse":false},{"id":"1e14cd57.872253","type":"ui_group","z":"","name":"Blood Pressure","tab":"d53a3b04.af2c58","disp":true,"width":"6","collapse":false},{"id":"e5b4fb58.98b528","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"d53a3b04.af2c58","disp":true,"width":"6","collapse":false},{"id":"226bf63a.827cea","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"9908cc53.d922a","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Body Temperature","label":"°F","format":"{{msg.payload}}","min":"90","max":"110","colors":["#ff0005","#08ff09","#ff0005"],"seg1":"98","seg2":"100","x":980,"y":20,"wires":[]},{"id":"192f2e23.23af42","type":"function","z":"c89daa26.37cb78","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":40,"wires":[["226bf63a.827cea","918a2387.34004","94a52569.a16bb8"]]},{"id":"f90a836c.13b18","type":"switch","z":"c89daa26.37cb78","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/1","vt":"str"},{"t":"eq","v":"sns/heartRate/1","vt":"str"},{"t":"eq","v":"sns/bloodPress/1","vt":"str"},{"t":"eq","v":"sns/bloodOxy/1","vt":"str"},{"t":"eq","v":"sns/bodyTemp/2","vt":"str"},{"t":"eq","v":"sns/heartRate/2","vt":"str"},{"t":"eq","v":"sns/bloodPress/2","vt":"str"},{"t":"eq","v":"sns/bloodOxy/2","vt":"str"},{"t":"eq","v":"sns/bodyTemp/3","vt":"str"},{"t":"eq","v":"sns/heartRate/3","vt":"str"},{"t":"eq","v":"sns/bloodPress/3","vt":"str"},{"t":"eq","v":"sns/bloodOxy/3","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":250,"y":400,"wires":[["192f2e23.23af42"],["3be2c210.abbc7e"],["bed81fdd.ec5d6"],["69f8fb60.6b0cd4"],["5a5babaf.5494e4"],["169961c2.35b16e"],["eca30afd.d31868"],["b811fa6d.42d968"],["9184f6c5.e475d8"],["7aff86cc.f41668"],["dc2a686e.c6b118"],["a3a2280b.4b89b8"]]},{"id":"3be2c210.abbc7e","type":"function","z":"c89daa26.37cb78","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["e419d8d.de96e28","c1878eb9.90b2"]]},{"id":"e419d8d.de96e28","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"f3ff5f7c.7ebd1","order":1,"width":0,"height":0,"gtype":"donut","title":"Current Heart Rate (bpm)","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#fffc00","#ffb702","#ca3838"],"seg1":"50","seg2":"100","x":970,"y":140,"wires":[]},{"id":"c1878eb9.90b2","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["36cf2105.61c12e"]]},{"id":"918a2387.34004","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["d43bc079.e9597"]]},{"id":"bed81fdd.ec5d6","type":"function","z":"c89daa26.37cb78","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["7e8400a4.2dd2f","41ec1d04.1ed874"]]},{"id":"7e8400a4.2dd2f","type":"function","z":"c89daa26.37cb78","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["ac73c8b6.927348"]]},{"id":"41ec1d04.1ed874","type":"function","z":"c89daa26.37cb78","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":300,"wires":[["3e7cca33.2cbdf6"]]},{"id":"69f8fb60.6b0cd4","type":"function","z":"c89daa26.37cb78","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["c1f2c230.66e5d","a8395251.71281"]]},{"id":"c1f2c230.66e5d","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["70520694.d08de8"]]},{"id":"c3a4415.b7e6ac","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"4d84911d.19e6d","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Body Temperature","label":"°F","format":"{{msg.payload}}","min":"90","max":"110","colors":["#ff0005","#08ff09","#ff0005"],"seg1":"98","seg2":"100","x":960,"y":520,"wires":[]},{"id":"5a5babaf.5494e4","type":"function","z":"c89daa26.37cb78","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["c3a4415.b7e6ac","119928ed.c32f07","1639b90c.d91fb7"]]},{"id":"169961c2.35b16e","type":"function","z":"c89daa26.37cb78","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["83e5b691.393488","7840b100.a4a0a"]]},{"id":"83e5b691.393488","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":700,"wires":[["57c78cc2.7d3464"]]},{"id":"119928ed.c32f07","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":560,"wires":[["1292f630.6a5b2a"]]},{"id":"eca30afd.d31868","type":"function","z":"c89daa26.37cb78","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":660,"wires":[["36bea997.d32b96","59429c0.0e3b764"]]},{"id":"36bea997.d32b96","type":"function","z":"c89daa26.37cb78","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":760,"wires":[["e3560113.296a7"]]},{"id":"59429c0.0e3b764","type":"function","z":"c89daa26.37cb78","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":800,"wires":[["8690a488.31b768"]]},{"id":"b811fa6d.42d968","type":"function","z":"c89daa26.37cb78","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["dad811a5.cc85b","92ebe880.5e7f88"]]},{"id":"dad811a5.cc85b","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":920,"wires":[["8f6754a5.25e458"]]},{"id":"36cf2105.61c12e","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"f3ff5f7c.7ebd1","order":2,"width":0,"height":0,"label":"Last 1 Hour Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":180,"wires":[[]]},{"id":"ac73c8b6.927348","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"8c01eebc.befcc","order":2,"width":0,"height":0,"label":"BP SYSTOLIC","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":260,"wires":[[]]},{"id":"3e7cca33.2cbdf6","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"8c01eebc.befcc","order":1,"width":0,"height":0,"label":"BP DIALOSTIC","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":320,"wires":[[]]},{"id":"a8395251.71281","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"5d13f501.a6963c","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Oxygen Percentage","label":"%","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":980,"y":380,"wires":[]},{"id":"70520694.d08de8","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"5d13f501.a6963c","order":1,"width":0,"height":0,"label":"Last 1 Hour Blood Oxygen Percentage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1300,"y":420,"wires":[[]]},{"id":"1292f630.6a5b2a","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"4d84911d.19e6d","order":2,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":560,"wires":[[]]},{"id":"d43bc079.e9597","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"9908cc53.d922a","order":1,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":60,"wires":[[]]},{"id":"7840b100.a4a0a","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"294a3926.2b6a66","order":0,"width":0,"height":0,"gtype":"donut","title":"Current Heart Rate (bpm)","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":950,"y":660,"wires":[]},{"id":"57c78cc2.7d3464","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"294a3926.2b6a66","order":1,"width":0,"height":0,"label":"Last 1 Hour Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":700,"wires":[[]]},{"id":"e3560113.296a7","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"269a5f45.a5092","order":0,"width":0,"height":0,"label":"BP Systolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":760,"wires":[[]]},{"id":"8690a488.31b768","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"269a5f45.a5092","order":1,"width":0,"height":0,"label":"BP Diastolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":800,"wires":[[]]},{"id":"92ebe880.5e7f88","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"3d774b89.301ed4","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Oxygen Percentage","label":"%","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":880,"wires":[]},{"id":"8f6754a5.25e458","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"3d774b89.301ed4","order":1,"width":0,"height":0,"label":"Last 1 hour Blood Oxygen Percentage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1330,"y":920,"wires":[[]]},{"id":"ff046b4c.0a7138","type":"mqtt in","z":"c89daa26.37cb78","name":"","topic":"sns/+/+","qos":"0","datatype":"json","broker":"74670f5b.383e3","x":100,"y":420,"wires":[["f90a836c.13b18"]]},{"id":"9184f6c5.e475d8","type":"function","z":"c89daa26.37cb78","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1100,"wires":[["d9af708b.79197","756cdcd9.90c2b4","e5a5f7fd.401de8"]]},{"id":"7aff86cc.f41668","type":"function","z":"c89daa26.37cb78","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1160,"wires":[["16a8a399.5e5c6c","83cd7819.d69e98"]]},{"id":"dc2a686e.c6b118","type":"function","z":"c89daa26.37cb78","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1220,"wires":[["557e5328.c09aac","7ab9b911.d19638"]]},{"id":"a3a2280b.4b89b8","type":"function","z":"c89daa26.37cb78","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1280,"wires":[["62263b83.c6bae4","3dd400aa.42f34"]]},{"id":"d9af708b.79197","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"7c1f38c8.6a1a08","order":0,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"F","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":1040,"wires":[]},{"id":"756cdcd9.90c2b4","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1080,"wires":[["c29f8aef.94fab8"]]},{"id":"c29f8aef.94fab8","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"7c1f38c8.6a1a08","order":1,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":1080,"wires":[[]]},{"id":"16a8a399.5e5c6c","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"bf375df8.45b58","order":0,"width":0,"height":0,"gtype":"gage","title":"Heart Rate","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":1160,"wires":[]},{"id":"83cd7819.d69e98","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1200,"wires":[["595733ac.ff049c"]]},{"id":"595733ac.ff049c","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"bf375df8.45b58","order":1,"width":0,"height":0,"label":"Last 1 Hour Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1200,"wires":[[]]},{"id":"557e5328.c09aac","type":"function","z":"c89daa26.37cb78","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1240,"wires":[["6274909c.04662"]]},{"id":"7ab9b911.d19638","type":"function","z":"c89daa26.37cb78","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1280,"wires":[["3c0fc04a.49bbb"]]},{"id":"6274909c.04662","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"1e14cd57.872253","order":0,"width":0,"height":0,"label":"BP Systolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":1240,"wires":[[]]},{"id":"3c0fc04a.49bbb","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"1e14cd57.872253","order":1,"width":0,"height":0,"label":"BP Diastolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":1280,"wires":[[]]},{"id":"62263b83.c6bae4","type":"ui_gauge","z":"c89daa26.37cb78","name":"","group":"e5b4fb58.98b528","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Oxygen Percentage","label":"%","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":960,"y":1340,"wires":[]},{"id":"3dd400aa.42f34","type":"function","z":"c89daa26.37cb78","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1380,"wires":[["57286469.c397bc"]]},{"id":"57286469.c397bc","type":"ui_chart","z":"c89daa26.37cb78","name":"","group":"e5b4fb58.98b528","order":1,"width":0,"height":0,"label":"Last 1 Hour Blood Oxygen Percentage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1280,"y":1380,"wires":[[]]},{"id":"94a52569.a16bb8","type":"function","z":"c89daa26.37cb78","name":"Broadcast Patient","func":"temp = msg.payload\nif(temp < 97 || temp >= 102)\n{\n    msg.payload = \"Please come for consultation\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":100,"wires":[["1abddcb7.1d2ae3","20d12367.42ca6c"]]},{"id":"1abddcb7.1d2ae3","type":"mqtt out","z":"c89daa26.37cb78","name":"","topic":"","qos":"","retain":"","broker":"8bdb7671.dcb848","x":1210,"y":100,"wires":[]},{"id":"1639b90c.d91fb7","type":"function","z":"c89daa26.37cb78","name":"Broadcast Patient","func":"temp = msg.payload\nif(temp < 97 || temp >= 102)\n{\n    msg.payload = \"Please come for consultation\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":930,"y":600,"wires":[["41992145.631c6"]]},{"id":"41992145.631c6","type":"mqtt out","z":"c89daa26.37cb78","name":"","topic":"","qos":"","retain":"","broker":"efa67bbb.2242a8","x":1150,"y":600,"wires":[]},{"id":"e5a5f7fd.401de8","type":"function","z":"c89daa26.37cb78","name":"Broadcast Patient","func":"temp = msg.payload\nif(temp < 97 || temp >= 102)\n{\n    msg.payload = \"Please come for consultation\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":930,"y":1120,"wires":[["92079df3.30de"]]},{"id":"92079df3.30de","type":"mqtt out","z":"c89daa26.37cb78","name":"","topic":"","qos":"","retain":"","broker":"6a0b36b2.5585a8","x":1170,"y":1120,"wires":[]},{"id":"20d12367.42ca6c","type":"ui_toast","z":"c89daa26.37cb78","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Prescription Sent","name":"","x":1570,"y":120,"wires":[]}]