patient3.json
[{"id":"e697c24a.de5ef","type":"tab","label":"Flow ","disabled":false,"info":""},{"id":"ed2a9ef3.5fdae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c41ace44.03bf9","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"334bdb6.91e4824","type":"mqtt-broker","z":"","name":"doctor","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"d4b0fe27.692b8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4b0fe27.692b8","type":"tls-config","z":"","name":"doctor","cert":"C:\\Users\\spanda\\Desktop\\device\\device1\\device-1-b4479afcd8-certificate.pem.crt","key":"C:\\Users\\spanda\\Desktop\\device\\device1\\device-1-b4479afcd8-private.pem.key","ca":"C:\\Users\\spanda\\Desktop\\device\\device1\\AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"c5688c26.13dff","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"4f4ed6bd.de09e8","type":"mqtt-broker","z":"","name":"","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"c41ace44.03bf9","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46173344.b1dd4c","type":"tls-config","z":"","name":"","cert":"C:\\Users\\spanda\\Desktop\\patient3\\069d309a79-certificate.pem.crt","key":"C:\\Users\\spanda\\Desktop\\patient3\\069d309a79-private.pem.key","ca":"C:\\Users\\spanda\\Desktop\\patient3\\AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"6b6b9e50.09f34","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"1b82e1eb.3afc1e","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85c23751.f757b8","type":"ui_group","z":"","name":"Temperature","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"1b82e1eb.3afc1e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"4298d1ba.6df77","type":"ui_tab","z":"","name":"Body Area Network Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"3e8ac2cf.e3313e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fefa7f05.d1aa6","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"48dc2d12.110584","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"e70eb71.9f53d48","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"b44c27e6.0d3978","type":"ui_group","z":"","name":"Heart Rate","tab":"4298d1ba.6df77","order":2,"disp":true,"width":"6","collapse":false},{"id":"8bee1c64.192d6","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"f8de758e.ffc578","type":"ui_group","z":"","name":"Blood Pressure","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"794d5015.80b36","type":"aws-iot-device","z":"","name":"device-1","clientId":"device-1","endpoint":"$aws/things/device-1/shadow/get","awscerts":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/certs/"},{"id":"48218d94.1db024","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"479b14ee.a8087c","type":"mqtt-broker","z":"","name":"","broker":"a2ob18fywqijip-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"46173344.b1dd4c","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"904d6af9.62dfd8","type":"aws-iot-device","z":"","name":"","clientId":"","endpoint":"","awscerts":"/root/.agent/certs"},{"id":"48fb520e.0c33ac","type":"ui_group","z":"","name":"Battery","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"8fc663e0.b9ba6","type":"ui_group","z":"","name":"battery scalable","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"c5c602c1.acac7","type":"ui_group","z":"","name":"battery scalable","tab":"4298d1ba.6df77","disp":true,"width":"6","collapse":false},{"id":"d44669b8.25a798","type":"json","z":"e697c24a.de5ef","name":"","property":"payload","action":"","pretty":false,"x":890,"y":200,"wires":[["2aae92e5.b83a9e","44c604bd.ec82bc","81efd8d6.eeb378"]],"info":"{\n    \n}"},{"id":"1e3eff1c.a95831","type":"inject","z":"e697c24a.de5ef","name":"","topic":"sns/bodyTemp/3","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"1","x":160,"y":120,"wires":[["3627903b.d1a82"]]},{"id":"46e13519.ecabdc","type":"function","z":"e697c24a.de5ef","name":"Body Temperature Sensor IN","func":"var obj = {};\n\nobj.sensor = \"Temperature Sensor\";\nobj.time = msg.payload;\nobj.temp  = Math.floor(Math.random() * (110 - 90 + 1)) + 90;\nif(obj.temp < 97) {\n    obj.condition = 'Hypothermia';\n} else if (obj.temp >= 97 && obj.temp <= 100 ) {\n    obj.condition = 'Normal';\n} else if(obj.temp > 100 && obj.temp <= 104) {\n    obj.condition = 'Fever';\n} else {\n    obj.condition = 'Hyperpyrexia';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["d44669b8.25a798"]]},{"id":"2aae92e5.b83a9e","type":"mqtt out","z":"e697c24a.de5ef","name":"patient","topic":"","qos":"","retain":"","broker":"479b14ee.a8087c","x":1150,"y":20,"wires":[]},{"id":"b74e85b6.4ada38","type":"inject","z":"e697c24a.de5ef","name":"","topic":"sns/heartRate/3","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["3627903b.d1a82"]]},{"id":"9d8d8a01.3e1988","type":"mqtt in","z":"ed2a9ef3.5fdae","name":"","topic":"sns/+/+","qos":"0","datatype":"json","broker":"479b14ee.a8087c","x":70,"y":400,"wires":[["9c7a6ecf.7544c"]]},{"id":"9dd055.bcf76fa8","type":"ui_gauge","z":"ed2a9ef3.5fdae","name":"","group":"85c23751.f757b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Body Temperature","label":"°F","format":"{{msg.payload}}","min":"90","max":"110","colors":["#ff0005","#08ff09","#ff0005"],"seg1":"98","seg2":"100","x":880,"y":40,"wires":[]},{"id":"eabc40ef.6dec2","type":"function","z":"ed2a9ef3.5fdae","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["9dd055.bcf76fa8","1ff96fee.51c84"]]},{"id":"6fdbc9ac.0f2a58","type":"ui_chart","z":"ed2a9ef3.5fdae","name":"","group":"85c23751.f757b8","order":3,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ffe000","#aec7e8","#fffd00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":80,"wires":[[]]},{"id":"696918ad.6bcab8","type":"inject","z":"e697c24a.de5ef","name":"","topic":"sns/bloodPress/3","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["3627903b.d1a82"]]},{"id":"42cd7a89.bc8414","type":"inject","z":"e697c24a.de5ef","name":"","topic":"sns/bloodOxy/3","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["3627903b.d1a82"]]},{"id":"3627903b.d1a82","type":"switch","z":"e697c24a.de5ef","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/3","vt":"str"},{"t":"eq","v":"sns/heartRate/3","vt":"str"},{"t":"eq","v":"sns/bloodPress/3","vt":"str"},{"t":"eq","v":"sns/bloodOxy/3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":220,"wires":[["46e13519.ecabdc"],["f9145f1c.040b4"],["96e9aab4.1d1ab8"],["6d1b6606.602d78"]]},{"id":"f9145f1c.040b4","type":"function","z":"e697c24a.de5ef","name":"Heart Rate Sensor IN","func":"var obj = {};\nobj.sensor = \"Heart Rate Sensor\";\nobj.time = msg.payload;\nobj.bpm  = Math.floor(Math.random() * (200 - 0 + 1)) + 0;\nif(obj.bpm === 0) {\n    obj.condition = 'Dead';\n} else if (obj.bpm >= 50 && obj.bpm <= 90 ) {\n    obj.condition = 'Normal';\n} else if((obj.bpm > 90 && obj.bpm < 130) || (obj.bpm > 40 && obj.bpm < 50)) {\n    obj.condition = 'Trained Athelete';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["d44669b8.25a798"]]},{"id":"96e9aab4.1d1ab8","type":"function","z":"e697c24a.de5ef","name":"Blood Pressure Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Pressure Sensor\";\nobj.time = msg.payload;\nobj.systolic  = Math.floor(Math.random() * (200 - 120 + 1)) + 120;\nobj.diastolic  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.systolic == 120 && obj.diastolic == 80) {\n    obj.condition = 'Optimal BP';\n} else if ((obj.systolic > 120 && obj.systolic < 130) && (obj.diastolic > 80 && obj.diastolic < 85)) {\n    obj.condition = 'Normal BP';\n} else if((obj.systolic > 130 && obj.systolic < 160) && (obj.diastolic > 85 && obj.diastolic < 100)) {\n    obj.condition = 'Mild Hypertension';\n} else if((obj.systolic > 160 && obj.systolic < 180) && (obj.diastolic > 100 && obj.diastolic < 110)) {\n    obj.condition = 'Moderate Hypertension';\n} else {\n    obj.condition = 'Severe Hypertension';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["d44669b8.25a798"]]},{"id":"6d1b6606.602d78","type":"function","z":"e697c24a.de5ef","name":"Blood Oxygen Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Oxygen Percentage\";\nobj.time = msg.payload;\nobj.percentage  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.percentage > 91) {\n    obj.condition = 'Normal';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["d44669b8.25a798"]]},{"id":"9c7a6ecf.7544c","type":"switch","z":"ed2a9ef3.5fdae","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/3","vt":"str"},{"t":"eq","v":"sns/heartRate/3","vt":"str"},{"t":"eq","v":"sns/bloodPress/3","vt":"str"},{"t":"eq","v":"sns/bloodOxy/3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":400,"wires":[["eabc40ef.6dec2"],["6ab1d138.3691"],["277e1a5f.63ce36"],["df0b526d.88d2f"]]},{"id":"6ab1d138.3691","type":"function","z":"ed2a9ef3.5fdae","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["214121af.f4892e","f641a679.ad2208"]]},{"id":"214121af.f4892e","type":"ui_gauge","z":"ed2a9ef3.5fdae","name":"","group":"b44c27e6.0d3978","order":1,"width":0,"height":0,"gtype":"donut","title":"Current Heart Rate (bpm)","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#fffc00","#ffb702","#ca3838"],"seg1":"50","seg2":"100","x":870,"y":240,"wires":[]},{"id":"1f005dd8.8351d2","type":"ui_chart","z":"ed2a9ef3.5fdae","name":"","group":"b44c27e6.0d3978","order":2,"width":0,"height":0,"label":"Heart Rate Last 1 Hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":280,"wires":[[]]},{"id":"f641a679.ad2208","type":"function","z":"ed2a9ef3.5fdae","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["1f005dd8.8351d2"]]},{"id":"1ff96fee.51c84","type":"function","z":"ed2a9ef3.5fdae","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["6fdbc9ac.0f2a58"]]},{"id":"df0b526d.88d2f","type":"function","z":"ed2a9ef3.5fdae","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["2005cbc2.cf2644","bb3f2e88.a8522"]]},{"id":"2005cbc2.cf2644","type":"ui_gauge","z":"ed2a9ef3.5fdae","name":"","group":"8bee1c64.192d6","order":1,"width":0,"height":0,"gtype":"donut","title":"Blood Oxygen Percentage","label":"percent","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":880,"y":640,"wires":[]},{"id":"bb3f2e88.a8522","type":"function","z":"ed2a9ef3.5fdae","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["1e106d0b.377b73"]]},{"id":"1e106d0b.377b73","type":"ui_chart","z":"ed2a9ef3.5fdae","name":"","group":"8bee1c64.192d6","order":2,"width":0,"height":0,"label":"Blood Osygen Percentage Last 1 hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":680,"wires":[[]]},{"id":"277e1a5f.63ce36","type":"function","z":"ed2a9ef3.5fdae","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["ef9064.73a05fa","9319f769.7dc338"]]},{"id":"ef9064.73a05fa","type":"function","z":"ed2a9ef3.5fdae","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["71be83f.ed22f7c"]]},{"id":"9319f769.7dc338","type":"function","z":"ed2a9ef3.5fdae","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["27baed58.8ae3e2"]]},{"id":"71be83f.ed22f7c","type":"ui_chart","z":"ed2a9ef3.5fdae","name":"","group":"f8de758e.ffc578","order":1,"width":0,"height":0,"label":"BP Systolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"27baed58.8ae3e2","type":"ui_chart","z":"ed2a9ef3.5fdae","name":"","group":"f8de758e.ffc578","order":2,"width":0,"height":0,"label":"BP Diastolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":480,"wires":[[]]},{"id":"9ee526dc.53e808","type":"mqtt out","z":"e697c24a.de5ef","name":"doctor","topic":"","qos":"","retain":"","broker":"334bdb6.91e4824","x":1890,"y":200,"wires":[]},{"id":"44c604bd.ec82bc","type":"function","z":"e697c24a.de5ef","name":"Battery Fast ","func":"msg.topic=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["72433086.4796"]]},{"id":"d8b94198.3ef22","type":"function","z":"e697c24a.de5ef","name":"battery Fast Cal","func":"msg.payload=parseFloat(msg.payload).toFixed(2)-parseFloat(0.01).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":120,"wires":[["1639290f.b50f87","724790b3.45809"]]},{"id":"72433086.4796","type":"file in","z":"e697c24a.de5ef","name":"Battery Read","filename":"C:\\Users\\spanda\\Desktop\\battery\\battery_fast.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1510,"y":120,"wires":[["d8b94198.3ef22"]]},{"id":"1639290f.b50f87","type":"ui_gauge","z":"e697c24a.de5ef","name":"Battery Chart","group":"48fb520e.0c33ac","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2110,"y":120,"wires":[]},{"id":"724790b3.45809","type":"file","z":"e697c24a.de5ef","name":"battery percent write","filename":"C:\\Users\\spanda\\Desktop\\battery\\battery_fast.log","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2140,"y":160,"wires":[[]]},{"id":"81efd8d6.eeb378","type":"switch","z":"e697c24a.de5ef","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/3","vt":"str"},{"t":"eq","v":"sns/heartRate/3","vt":"str"},{"t":"eq","v":"sns/bloodPress/3","vt":"str"},{"t":"eq","v":"sns/bloodOxy/3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1150,"y":180,"wires":[["79a2d18.6a2b63"],["57e74267.63c31c"],["7e44c8bb.4ee568"],["cb9cad82.6f3fa"]]},{"id":"79a2d18.6a2b63","type":"function","z":"e697c24a.de5ef","name":"broadcast temperature","func":" temperature=msg.payload.temp\n if(temperature>=102||temperature<97)\n {\n return msg;\n }","outputs":1,"noerr":0,"x":1440,"y":160,"wires":[["1376a17d.1b114f"]]},{"id":"57e74267.63c31c","type":"function","z":"e697c24a.de5ef","name":"broadcast  heart rate","func":"heartrate=msg.payload.bpm\nif(heartrate>130|| heartrate<50)\n{\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1440,"y":200,"wires":[["1376a17d.1b114f"]]},{"id":"7e44c8bb.4ee568","type":"function","z":"e697c24a.de5ef","name":"broadcastbloodpressure","func":"systolic=msg.payload.systolic\ndiastolic=msg.payload.diastolic\n\nif((systolic == 120 && diastolic == 80)||((systolic > 130 && systolic < 160) && (diastolic > 85 && diastolic < 100))||((systolic > 160 ) && (diastolic > 100)))\n{\nreturn msg;\n}","outputs":1,"noerr":0,"x":1450,"y":260,"wires":[["1376a17d.1b114f"]]},{"id":"cb9cad82.6f3fa","type":"function","z":"e697c24a.de5ef","name":"broadcast blood oxy","func":"bloodoxy=msg.payload.percentage\nif(bloodoxy<91)\n{\nreturn msg;\n}","outputs":1,"noerr":0,"x":1440,"y":340,"wires":[["1376a17d.1b114f"]]},{"id":"1376a17d.1b114f","type":"json","z":"e697c24a.de5ef","name":"","property":"payload","action":"","pretty":false,"x":1710,"y":200,"wires":[["9ee526dc.53e808","9e371499.69e278"]]},{"id":"9e371499.69e278","type":"function","z":"e697c24a.de5ef","name":"Battery slow","func":"msg.topic=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":360,"wires":[["685b1fc2.82ba6"]]},{"id":"685b1fc2.82ba6","type":"file in","z":"e697c24a.de5ef","name":"Battery Read","filename":"C:\\Users\\spanda\\Desktop\\battery\\battery_slow.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2150,"y":360,"wires":[["af7248b2.8cff38"]]},{"id":"af7248b2.8cff38","type":"function","z":"e697c24a.de5ef","name":"battery Fast Cal","func":"msg.payload=parseFloat(msg.payload).toFixed(2)-parseFloat(0.01).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":360,"wires":[["bbe3fcf9.d9ac6","caef40a5.36371"]]},{"id":"bbe3fcf9.d9ac6","type":"file","z":"e697c24a.de5ef","name":"battery percent write","filename":"C:\\Users\\spanda\\Desktop\\battery\\battery_slow.log","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2780,"y":400,"wires":[[]]},{"id":"caef40a5.36371","type":"ui_gauge","z":"e697c24a.de5ef","name":"","group":"c5c602c1.acac7","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2560,"y":280,"wires":[]},{"id":"59276f45.364ed","type":"ui_toast","z":"ed2a9ef3.5fdae","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":true,"topic":"","name":"","x":390,"y":1100,"wires":[]},{"id":"70b8299.09523d8","type":"mqtt in","z":"ed2a9ef3.5fdae","name":"","topic":"+","qos":"0","datatype":"auto","broker":"479b14ee.a8087c","x":140,"y":1100,"wires":[["59276f45.364ed"]]},{"id":"30e1e877.37e8c8","type":"mqtt out","z":"ed2a9ef3.5fdae","name":"","topic":"","qos":"","retain":"","broker":"334bdb6.91e4824","x":430,"y":1300,"wires":[]},{"id":"9d38982d.a4b178","type":"catch","z":"ed2a9ef3.5fdae","name":"backup","scope":null,"uncaught":false,"x":130,"y":1300,"wires":[["30e1e877.37e8c8"]]}]