patient1.json
[{"id":"59b69b5b.4eda34","type":"tab","label":"Flow ","disabled":false,"info":""},{"id":"a1d7a516.86d0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11adca8.c3a0936","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"1f662375.9b8b4d","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"87246b33.2a1348","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87246b33.2a1348","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"6373bbf7.000ba4","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"ef434c16.3a9a7","type":"mqtt-broker","z":"","name":"","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"11adca8.c3a0936","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68d27ae0.9f2e24","type":"tls-config","z":"","name":"piyush","cert":"C:/Users/john/Desktop/patient1/ff77745a0f-certificate.pem.crt","key":"C:/Users/john/Desktop/patient1/ff77745a0f-private.pem.key","ca":"C:/Users/john/Desktop/patient1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"7e2503d7.bc096c","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"8f24064c.1a5e98","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4d59184.70f21","type":"ui_group","z":"","name":"Temperature","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f24064c.1a5e98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"a6442f84.d4492","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"78fba06c.4cecb","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"9a4dbd.4abfd24","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"24ecf8b9.f565b8","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"f57e71a2.1c2eb","type":"ui_group","z":"","name":"Heart Rate","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d0a6bd9.f409f4","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c8f7bc01.3e8cd","type":"ui_group","z":"","name":"Blood Pressure","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"189a17db.b6db78","type":"aws-iot-device","z":"","name":"device-1","clientId":"device-1","endpoint":"$aws/things/device-1/shadow/get","awscerts":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/certs/"},{"id":"7912c353.84eeac","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"6a8d2cf.39c45d4","type":"mqtt-broker","z":"","name":"piyush1","broker":"a1s4iqwtwm0s0d-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"bfc5a069.3edfd","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bfc5a069.3edfd","type":"tls-config","z":"","name":"piyush1","cert":"C:\\Users\\john\\Desktop\\patient1\\ff77745a0f-certificate.pem.crt","key":"C:\\Users\\john\\Desktop\\patient1\\ff77745a0f-private.pem.key","ca":"C:\\Users\\john\\Desktop\\patient1\\AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9db3cc03.5ebe9","type":"tls-config","z":"","name":"final","cert":"C:\\Users\\john\\Desktop\\patient1\\ff77745a0f-certificate.pem.crt","key":"C:\\Users\\john\\Desktop\\patient1\\ff77745a0f-private.pem.key","ca":"C:\\Users\\john\\Desktop\\patient1\\AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"53ba00.be9c46","type":"mqtt-broker","z":"","name":"final","broker":"a1s4iqwtwm0s0d-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"9db3cc03.5ebe9","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32ee9974.899e06","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"ea01b5e4.263cb8","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"ccbac651.3df538","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3e59ae.93f4868","type":"ui_group","z":"","name":"Temperature","tab":"e7ad044a.6c4878","order":1,"disp":true,"width":"6","collapse":false},{"id":"ccbac651.3df538","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"e7ad044a.6c4878","type":"ui_tab","z":"","name":"Body Area Network Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"8ebcb931.aad708","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"6757c031.651a5","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"de23fe6f.b3c3","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"2cad232c.85d6cc","type":"ui_group","z":"","name":"Heart Rate","tab":"e7ad044a.6c4878","order":2,"disp":true,"width":"6","collapse":false},{"id":"f2ed7000.d4baa","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"e7ad044a.6c4878","order":3,"disp":true,"width":"6","collapse":false},{"id":"c74c4a32.519fb8","type":"ui_group","z":"","name":"Blood Pressure","tab":"e7ad044a.6c4878","order":4,"disp":true,"width":"6","collapse":false},{"id":"8a63ff7f.fb5b5","type":"aws-iot-device","z":"","name":"device-1","clientId":"device-1","endpoint":"$aws/things/device-1/shadow/get","awscerts":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/certs/"},{"id":"8bd37b8e.6dfd68","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"48cade93.abea5","type":"mqtt-broker","z":"","name":"","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"32ee9974.899e06","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1d854a7.c95b68","type":"tls-config","z":"","name":"doctor","cert":"C:\\Users\\john\\Desktop\\device1\\device1\\device-1-b4479afcd8-certificate.pem.crt","key":"C:\\Users\\john\\Desktop\\device1\\device1\\device-1-b4479afcd8-private.pem.key","ca":"C:\\Users\\john\\Desktop\\device1\\device1\\AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"40565275.e8894c","type":"mqtt-broker","z":"","name":"doctor","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"c1d854a7.c95b68","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90cdf9b4.ae9128","type":"ui_group","z":"","name":"Battery","tab":"e7ad044a.6c4878","order":5,"disp":true,"width":"6","collapse":false},{"id":"6a6378ad.a02e18","type":"ui_group","z":"","name":"Battery Scalable","tab":"e7ad044a.6c4878","disp":true,"width":"6","collapse":false},{"id":"26efcdcc.c522c2","type":"json","z":"59b69b5b.4eda34","name":"","property":"payload","action":"","pretty":false,"x":870,"y":220,"wires":[["428efe30.661ab","f90ebb8e.799718","3bb54ecd.da8af2"]],"info":"{\n    \n}"},{"id":"3daa1ea7.e0cba2","type":"inject","z":"59b69b5b.4eda34","name":"","topic":"sns/bodyTemp/1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"1","x":160,"y":100,"wires":[["8fdbad0e.7b1b2"]]},{"id":"68f09ee8.018fa","type":"function","z":"59b69b5b.4eda34","name":"Body Temperature Sensor IN","func":"var obj = {};\nobj.sensor = \"Temperature Sensor\";\nobj.time = msg.payload;\nobj.patient = \"1\";\nobj.temp  = Math.floor(Math.random() * (110 - 90 + 1)) + 90;\nif(obj.temp < 97) {\n    obj.condition = 'Hypothermia';\n} else if (obj.temp >= 97 && obj.temp <= 100 ) {\n    obj.condition = 'Normal';\n} else if(obj.temp > 100 && obj.temp <= 104) {\n    obj.condition = 'Fever';\n} else {\n    obj.condition = 'Hyperpyrexia';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["26efcdcc.c522c2"]]},{"id":"428efe30.661ab","type":"mqtt out","z":"59b69b5b.4eda34","name":"Patient","topic":"","qos":"","retain":"","broker":"53ba00.be9c46","x":1060,"y":120,"wires":[]},{"id":"af11c70b.305408","type":"inject","z":"59b69b5b.4eda34","name":"","topic":"sns/heartRate/1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["8fdbad0e.7b1b2"]]},{"id":"45aba151.24318","type":"mqtt in","z":"a1d7a516.86d0a8","name":"","topic":"sns/+/+","qos":"0","datatype":"json","broker":"53ba00.be9c46","x":70,"y":400,"wires":[["4e407b41.17d344"]]},{"id":"9011fef5.c7c9c","type":"ui_gauge","z":"a1d7a516.86d0a8","name":"","group":"e3e59ae.93f4868","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Body Temperature","label":"°F","format":"{{msg.payload}}","min":"90","max":"110","colors":["#ff0005","#08ff09","#ff0005"],"seg1":"98","seg2":"100","x":880,"y":40,"wires":[]},{"id":"a99a1ef8.96bd2","type":"function","z":"a1d7a516.86d0a8","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["9011fef5.c7c9c","6850efbb.eab19"]]},{"id":"c4722371.b811e","type":"ui_chart","z":"a1d7a516.86d0a8","name":"","group":"e3e59ae.93f4868","order":3,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ffe000","#aec7e8","#fffd00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1075,"y":80,"wires":[[]]},{"id":"c26193a6.c991c","type":"inject","z":"59b69b5b.4eda34","name":"","topic":"sns/bloodPress/1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["8fdbad0e.7b1b2"]]},{"id":"cabf4199.8f25a","type":"inject","z":"59b69b5b.4eda34","name":"","topic":"sns/bloodOxy/1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["8fdbad0e.7b1b2"]]},{"id":"8fdbad0e.7b1b2","type":"switch","z":"59b69b5b.4eda34","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/1","vt":"str"},{"t":"eq","v":"sns/heartRate/1","vt":"str"},{"t":"eq","v":"sns/bloodPress/1","vt":"str"},{"t":"eq","v":"sns/bloodOxy/1","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":220,"wires":[["68f09ee8.018fa"],["c343f30c.8b362"],["a5491fd3.fd863"],["4b3a1a5b.165134"]]},{"id":"c343f30c.8b362","type":"function","z":"59b69b5b.4eda34","name":"Heart Rate Sensor IN","func":"var obj = {};\nobj.sensor = \"Heart Rate Sensor\";\nobj.time = msg.payload;\nobj.patient = \"1\";\nobj.bpm  = Math.floor(Math.random() * (200 - 0 + 1)) + 0;\nif(obj.bpm === 0) {\n    obj.condition = 'Dead';\n} else if (obj.bpm >= 50 && obj.bpm <= 90 ) {\n    obj.condition = 'Normal';\n} else if((obj.bpm > 90 && obj.bpm < 130) || (obj.bpm > 40 && obj.bpm < 50)) {\n    obj.condition = 'Trained Athelete';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["26efcdcc.c522c2"]]},{"id":"a5491fd3.fd863","type":"function","z":"59b69b5b.4eda34","name":"Blood Pressure Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Pressure Sensor\";\nobj.time = msg.payload;\nobj.patient = \"1\";\nobj.systolic  = Math.floor(Math.random() * (200 - 120 + 1)) + 120;\nobj.diastolic  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.systolic == 120 && obj.diastolic == 80) {\n    obj.condition = 'Optimal BP';\n} else if ((obj.systolic > 120 && obj.systolic < 130) && (obj.diastolic > 80 && obj.diastolic < 85)) {\n    obj.condition = 'Normal BP';\n} else if((obj.systolic > 130 && obj.systolic < 160) && (obj.diastolic > 85 && obj.diastolic < 100)) {\n    obj.condition = 'Mild Hypertension';\n} else if((obj.systolic > 160 && obj.systolic < 180) && (obj.diastolic > 100 && obj.diastolic < 110)) {\n    obj.condition = 'Moderate Hypertension';\n} else {\n    obj.condition = 'Severe Hypertension';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["26efcdcc.c522c2"]]},{"id":"4b3a1a5b.165134","type":"function","z":"59b69b5b.4eda34","name":"Blood Oxygen Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Oxygen Percentage\";\nobj.time = msg.payload;\nobj.patient = \"1\";\nobj.percentage  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.percentage > 91) {\n    obj.condition = 'Normal';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["26efcdcc.c522c2"]]},{"id":"4e407b41.17d344","type":"switch","z":"a1d7a516.86d0a8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/1","vt":"str"},{"t":"eq","v":"sns/heartRate/1","vt":"str"},{"t":"eq","v":"sns/bloodPress/1","vt":"str"},{"t":"eq","v":"sns/bloodOxy/1","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":400,"wires":[["a99a1ef8.96bd2"],["da558dbe.85868"],["6e2ce806.f65458"],["a7d48a91.035568"]]},{"id":"da558dbe.85868","type":"function","z":"a1d7a516.86d0a8","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["94851a01.8cc868","87d1860c.a9d4d8"]]},{"id":"94851a01.8cc868","type":"ui_gauge","z":"a1d7a516.86d0a8","name":"","group":"2cad232c.85d6cc","order":1,"width":0,"height":0,"gtype":"donut","title":"Current Heart Rate (bpm)","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#fffc00","#ffb702","#ca3838"],"seg1":"50","seg2":"100","x":870,"y":240,"wires":[]},{"id":"3228b22b.660fde","type":"ui_chart","z":"a1d7a516.86d0a8","name":"","group":"2cad232c.85d6cc","order":2,"width":0,"height":0,"label":"Heart Rate Last 1 Hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":280,"wires":[[]]},{"id":"87d1860c.a9d4d8","type":"function","z":"a1d7a516.86d0a8","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["3228b22b.660fde"]]},{"id":"6850efbb.eab19","type":"function","z":"a1d7a516.86d0a8","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["c4722371.b811e"]]},{"id":"a7d48a91.035568","type":"function","z":"a1d7a516.86d0a8","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["d9f0362d.0e7998","d7de0354.1d239"]]},{"id":"d9f0362d.0e7998","type":"ui_gauge","z":"a1d7a516.86d0a8","name":"","group":"f2ed7000.d4baa","order":1,"width":0,"height":0,"gtype":"donut","title":"Blood Oxygen Percentage","label":"percent","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":880,"y":640,"wires":[]},{"id":"d7de0354.1d239","type":"function","z":"a1d7a516.86d0a8","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["b827916c.5b1ed"]]},{"id":"b827916c.5b1ed","type":"ui_chart","z":"a1d7a516.86d0a8","name":"","group":"f2ed7000.d4baa","order":2,"width":0,"height":0,"label":"Blood Oxygen Percentage Last 1 hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":680,"wires":[[]]},{"id":"6e2ce806.f65458","type":"function","z":"a1d7a516.86d0a8","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["2f1b574.c52d6a8","58d71468.bc27cc"]]},{"id":"2f1b574.c52d6a8","type":"function","z":"a1d7a516.86d0a8","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["94a680f6.6f4ef"]]},{"id":"58d71468.bc27cc","type":"function","z":"a1d7a516.86d0a8","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["30ed8e19.1cc392"]]},{"id":"94a680f6.6f4ef","type":"ui_chart","z":"a1d7a516.86d0a8","name":"","group":"c74c4a32.519fb8","order":1,"width":0,"height":0,"label":"BP Systolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"30ed8e19.1cc392","type":"ui_chart","z":"a1d7a516.86d0a8","name":"","group":"c74c4a32.519fb8","order":2,"width":0,"height":0,"label":"BP Diastolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":480,"wires":[[]]},{"id":"3651f295.cda45e","type":"mqtt out","z":"59b69b5b.4eda34","name":"Doctor","topic":"","qos":"","retain":"","broker":"40565275.e8894c","x":1790,"y":120,"wires":[]},{"id":"f90ebb8e.799718","type":"function","z":"59b69b5b.4eda34","name":"Battery Fast","func":"msg.topic = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[["3edde50f.034b7a"]]},{"id":"3edde50f.034b7a","type":"file in","z":"59b69b5b.4eda34","name":"Battery Percent Read","filename":"C:\\Users\\john\\Desktop\\Battery\\battery_fast.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1320,"y":360,"wires":[["3f0567ff.784698"]]},{"id":"3f0567ff.784698","type":"function","z":"59b69b5b.4eda34","name":"Battery Fast Calc","func":"msg.payload = parseFloat(msg.payload).toFixed(2) - parseFloat(0.01).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":360,"wires":[["e39deb03.9aefc8","1f2f01c2.a9fe2e"]]},{"id":"e39deb03.9aefc8","type":"file","z":"59b69b5b.4eda34","name":"Battery Percent Write","filename":"C:\\Users\\john\\Desktop\\Battery\\battery_fast.log","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1820,"y":360,"wires":[[]]},{"id":"1f2f01c2.a9fe2e","type":"ui_gauge","z":"59b69b5b.4eda34","name":"Battery Chart","group":"90cdf9b4.ae9128","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1790,"y":300,"wires":[]},{"id":"3bb54ecd.da8af2","type":"switch","z":"59b69b5b.4eda34","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp/1","vt":"str"},{"t":"eq","v":"sns/heartRate/1","vt":"str"},{"t":"eq","v":"sns/bloodPress/1","vt":"str"},{"t":"eq","v":"sns/bloodOxy/1","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1070,"y":220,"wires":[["5b0cec8f.4dedf4"],["5b69f36e.f068cc"],["c5ba1dab.0b0a3"],["72aae7f9.e3c8f8"]]},{"id":"5b0cec8f.4dedf4","type":"function","z":"59b69b5b.4eda34","name":"Broadcast Temperature","func":"temperature = msg.payload.temp\nif (temperature < 97 || temperature >= 102)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":120,"wires":[["5351361a.c6d628"]]},{"id":"5b69f36e.f068cc","type":"function","z":"59b69b5b.4eda34","name":"Broadcast Heart Rate","func":"heartrate = msg.payload.bpm\nif (heartrate <= 50 || heartrate >= 130)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1320,"y":180,"wires":[["5351361a.c6d628"]]},{"id":"c5ba1dab.0b0a3","type":"function","z":"59b69b5b.4eda34","name":"Broadcast Blood Pressure","func":"systolic=msg.payload.systolic\ndiastolic=msg.payload.diastolic\nif((systolic == 120 && diastolic == 80)||((systolic > 130 && systolic < 160) && (diastolic > 85 && diastolic < 100))||((systolic > 160 ) && (diastolic > 100)))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":240,"wires":[["5351361a.c6d628"]]},{"id":"72aae7f9.e3c8f8","type":"function","z":"59b69b5b.4eda34","name":"Broadcast Blood Oxygen","func":"bloodoxygen = msg.payload.percentage\nif (bloodoxygen < 91)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":300,"wires":[["5351361a.c6d628"]]},{"id":"5351361a.c6d628","type":"json","z":"59b69b5b.4eda34","name":"","property":"payload","action":"","pretty":false,"x":1610,"y":200,"wires":[["3651f295.cda45e","d9fd63fc.a124f"]],"info":"{\n    \n}"},{"id":"d9fd63fc.a124f","type":"function","z":"59b69b5b.4eda34","name":"Battery Slow","func":"msg.topic = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":200,"wires":[["d2b6da0f.463098"]]},{"id":"d2b6da0f.463098","type":"file in","z":"59b69b5b.4eda34","name":"Battery Percent Read","filename":"C:\\Users\\john\\Desktop\\Battery\\battery_slow.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2000,"y":200,"wires":[["93015d31.02c14"]]},{"id":"93015d31.02c14","type":"function","z":"59b69b5b.4eda34","name":"Battery Slow Calc","func":"msg.payload = parseFloat(msg.payload).toFixed(2) - parseFloat(0.01).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":200,"wires":[["15276eaa.0c6b61","22f32444.cfe8ac"]]},{"id":"15276eaa.0c6b61","type":"file","z":"59b69b5b.4eda34","name":"Battery Percent Write","filename":"C:\\Users\\john\\Desktop\\Battery\\battery_slow.log","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2460,"y":200,"wires":[[]]},{"id":"22f32444.cfe8ac","type":"ui_gauge","z":"59b69b5b.4eda34","name":"Battery Scalable","group":"6a6378ad.a02e18","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2480,"y":140,"wires":[]},{"id":"4bb47d43.1e4a44","type":"mqtt in","z":"a1d7a516.86d0a8","name":"","topic":"+","qos":"0","datatype":"auto","broker":"53ba00.be9c46","x":199,"y":920,"wires":[["f12e7941.362fa8"]]},{"id":"f12e7941.362fa8","type":"ui_toast","z":"a1d7a516.86d0a8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":530,"y":920,"wires":[]},{"id":"42889d5e.afcd64","type":"catch","z":"a1d7a516.86d0a8","name":"","scope":null,"uncaught":false,"x":140,"y":860,"wires":[["b958573a.dd1358"]]},{"id":"b958573a.dd1358","type":"mqtt out","z":"a1d7a516.86d0a8","name":"","topic":"","qos":"","retain":"","broker":"40565275.e8894c","x":360,"y":860,"wires":[]}]