patient2.json
[{"id":"cf9cebcb.b9e568","type":"tab","label":"Flow ","disabled":false,"info":""},{"id":"5c0b5458.1af40c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9b749ce.f384d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"639d36bd.14ed28","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"device-1-b4479afcd8-certificate.pem.crt","keyname":"device-1-b4479afcd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"7f2d6a61.77d824","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"fc3b9a34.4062c8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9908cc53.d922a","type":"ui_group","z":"","name":"Temperature","tab":"ded2fd77.e4606","disp":true,"width":"6","collapse":false},{"id":"fc3b9a34.4062c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"ded2fd77.e4606","type":"ui_tab","z":"","name":"Body Area Network Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0cd91b1.e7aa9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9fdef84.9230c","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"e759ae10.05055","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"d9363bbf.be8d78","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"12","collapse":false},{"id":"f3ff5f7c.7ebd1","type":"ui_group","z":"","name":"Heart Rate","tab":"ded2fd77.e4606","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d13f501.a6963c","type":"ui_group","z":"","name":"Blood Oxygen Percentage","tab":"ded2fd77.e4606","disp":true,"width":"6","collapse":false},{"id":"8c01eebc.befcc","type":"ui_group","z":"","name":"Blood Pressure","tab":"ded2fd77.e4606","disp":true,"width":"6","collapse":false},{"id":"3a9f157c.6a950a","type":"aws-iot-device","z":"","name":"device-1","clientId":"device-1","endpoint":"$aws/things/device-1/shadow/get","awscerts":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/certs/"},{"id":"f5fd5f16.22793","type":"tls-config","z":"","name":"","cert":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-certificate.pem.crt","key":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/device-1-b4479afcd8-private.pem.key","ca":"/Users/prateek.tulsyan/Documents/Trinity/Semester_1/Scalable_Computing/group/device1/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"74670f5b.383e3","type":"mqtt-broker","z":"","name":"","broker":"a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"639d36bd.14ed28","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a97f3f17.8312e","type":"json","z":"cf9cebcb.b9e568","name":"","property":"payload","action":"","pretty":false,"x":870,"y":220,"wires":[["508c0a58.c2a474"]],"info":"{\n    \n}"},{"id":"919ba9cc.db04f8","type":"inject","z":"cf9cebcb.b9e568","name":"","topic":"sns/bodyTemp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":160,"y":120,"wires":[["5750f6cb.b7b4d8"]]},{"id":"ed1e05ac.080038","type":"function","z":"cf9cebcb.b9e568","name":"Body Temperature Sensor IN","func":"var obj = {};\n\nobj.sensor = \"Temperature Sensor\";\nobj.time = msg.payload;\nobj.temp  = Math.floor(Math.random() * (110 - 90 + 1)) + 90;\nif(obj.temp < 97) {\n    obj.condition = 'Hypothermia';\n} else if (obj.temp >= 97 && obj.temp <= 100 ) {\n    obj.condition = 'Normal';\n} else if(obj.temp > 100 && obj.temp <= 104) {\n    obj.condition = 'Fever';\n} else {\n    obj.condition = 'Hyperpyrexia';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["a97f3f17.8312e"]]},{"id":"508c0a58.c2a474","type":"mqtt out","z":"cf9cebcb.b9e568","name":"","topic":"","qos":"","retain":"","broker":"74670f5b.383e3","x":1030,"y":220,"wires":[]},{"id":"7f6c0e0.7be75f4","type":"inject","z":"cf9cebcb.b9e568","name":"","topic":"sns/heartRate","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["5750f6cb.b7b4d8"]]},{"id":"89aad11e.d3129","type":"mqtt in","z":"5c0b5458.1af40c","name":"","topic":"sns/+","qos":"0","datatype":"json","broker":"74670f5b.383e3","x":70,"y":400,"wires":[["5f534c67.220b54"]]},{"id":"353482a4.8c02ae","type":"ui_gauge","z":"5c0b5458.1af40c","name":"","group":"9908cc53.d922a","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Body Temperature","label":"°F","format":"{{msg.payload}}","min":"90","max":"110","colors":["#ff0005","#08ff09","#ff0005"],"seg1":"98","seg2":"100","x":880,"y":40,"wires":[]},{"id":"e3def477.45e218","type":"function","z":"5c0b5458.1af40c","name":"Body Temperature Sensor OUT","func":"msg.topic = msg.payload.condition;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["f7101e43.fcf79","353482a4.8c02ae","b7f6e3b4.643da"]]},{"id":"f7101e43.fcf79","type":"debug","z":"5c0b5458.1af40c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":120,"wires":[]},{"id":"a1019b6b.fdf468","type":"ui_chart","z":"5c0b5458.1af40c","name":"","group":"9908cc53.d922a","order":3,"width":0,"height":0,"label":"Last 1 Hour Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ffe000","#aec7e8","#fffd00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":80,"wires":[[]]},{"id":"f4d471f7.13e99","type":"inject","z":"cf9cebcb.b9e568","name":"","topic":"sns/bloodPress","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["5750f6cb.b7b4d8"]]},{"id":"cb05026e.c27b9","type":"inject","z":"cf9cebcb.b9e568","name":"","topic":"sns/bloodOxy","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["5750f6cb.b7b4d8"]]},{"id":"5750f6cb.b7b4d8","type":"switch","z":"cf9cebcb.b9e568","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp","vt":"str"},{"t":"eq","v":"sns/heartRate","vt":"str"},{"t":"eq","v":"sns/bloodPress","vt":"str"},{"t":"eq","v":"sns/bloodOxy","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":220,"wires":[["ed1e05ac.080038"],["b7d121a4.659be"],["104b5493.5fce1b"],["5cd70d27.0da454"]]},{"id":"b7d121a4.659be","type":"function","z":"cf9cebcb.b9e568","name":"Heart Rate Sensor IN","func":"var obj = {};\nobj.sensor = \"Heart Rate Sensor\";\nobj.time = msg.payload;\nobj.bpm  = Math.floor(Math.random() * (200 - 0 + 1)) + 0;\nif(obj.bpm === 0) {\n    obj.condition = 'Dead';\n} else if (obj.bpm >= 50 && obj.bpm <= 90 ) {\n    obj.condition = 'Normal';\n} else if((obj.bpm > 90 && obj.bpm < 130) || (obj.bpm > 40 && obj.bpm < 50)) {\n    obj.condition = 'Trained Athelete';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["a97f3f17.8312e"]]},{"id":"104b5493.5fce1b","type":"function","z":"cf9cebcb.b9e568","name":"Blood Pressure Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Pressure Sensor\";\nobj.time = msg.payload;\nobj.systolic  = Math.floor(Math.random() * (200 - 120 + 1)) + 120;\nobj.diastolic  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.systolic == 120 && obj.diastolic == 80) {\n    obj.condition = 'Optimal BP';\n} else if ((obj.systolic > 120 && obj.systolic < 130) && (obj.diastolic > 80 && obj.diastolic < 85)) {\n    obj.condition = 'Normal BP';\n} else if((obj.systolic > 130 && obj.systolic < 160) && (obj.diastolic > 85 && obj.diastolic < 100)) {\n    obj.condition = 'Mild Hypertension';\n} else if((obj.systolic > 160 && obj.systolic < 180) && (obj.diastolic > 100 && obj.diastolic < 110)) {\n    obj.condition = 'Moderate Hypertension';\n} else {\n    obj.condition = 'Severe Hypertension';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["a97f3f17.8312e"]]},{"id":"5cd70d27.0da454","type":"function","z":"cf9cebcb.b9e568","name":"Blood Oxygen Sensor IN","func":"var obj = {};\nobj.sensor = \"Blood Oxygen Percentage\";\nobj.time = msg.payload;\nobj.percentage  = Math.floor(Math.random() * (110 - 80 + 1)) + 80;\nif(obj.percentage > 91) {\n    obj.condition = 'Normal';\n} else {\n    obj.condition = 'See a Doctor';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["a97f3f17.8312e"]]},{"id":"5f534c67.220b54","type":"switch","z":"5c0b5458.1af40c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sns/bodyTemp","vt":"str"},{"t":"eq","v":"sns/heartRate","vt":"str"},{"t":"eq","v":"sns/bloodPress","vt":"str"},{"t":"eq","v":"sns/bloodOxy","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":400,"wires":[["e3def477.45e218"],["ff5db7d4.623108"],["3030e9b7.ea06f6"],["37c2342d.4fb5dc"]]},{"id":"ff5db7d4.623108","type":"function","z":"5c0b5458.1af40c","name":"Heart Rate Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.bpm;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["da770ba5.9f45a8","312da505.863cda","eafd0ff2.ea558"]]},{"id":"da770ba5.9f45a8","type":"ui_gauge","z":"5c0b5458.1af40c","name":"","group":"f3ff5f7c.7ebd1","order":1,"width":0,"height":0,"gtype":"donut","title":"Current Heart Rate (bpm)","label":"bpm","format":"{{msg.payload}}","min":0,"max":"200","colors":["#fffc00","#ffb702","#ca3838"],"seg1":"50","seg2":"100","x":870,"y":240,"wires":[]},{"id":"312da505.863cda","type":"debug","z":"5c0b5458.1af40c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":320,"wires":[]},{"id":"17f31f1b.047dd1","type":"ui_chart","z":"5c0b5458.1af40c","name":"","group":"f3ff5f7c.7ebd1","order":2,"width":0,"height":0,"label":"Heart Rate Last 1 Hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":280,"wires":[[]]},{"id":"eafd0ff2.ea558","type":"function","z":"5c0b5458.1af40c","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["17f31f1b.047dd1"]]},{"id":"b7f6e3b4.643da","type":"function","z":"5c0b5458.1af40c","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["a1019b6b.fdf468"]]},{"id":"37c2342d.4fb5dc","type":"function","z":"5c0b5458.1af40c","name":"Blood Oxygen Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.payload = msg.payload.percentage\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["edfb12c7.9c6fa","2b6910c8.d8461","a1194068.95d5c"]]},{"id":"edfb12c7.9c6fa","type":"ui_gauge","z":"5c0b5458.1af40c","name":"","group":"5d13f501.a6963c","order":1,"width":0,"height":0,"gtype":"donut","title":"Blood Oxygen Percentage","label":"percent","format":"{{msg.payload}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"100","x":880,"y":640,"wires":[]},{"id":"2b6910c8.d8461","type":"function","z":"5c0b5458.1af40c","name":"Manipulation","func":"msg.topic = \"Linear\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["9c62fd00.7d1ac"]]},{"id":"9c62fd00.7d1ac","type":"ui_chart","z":"5c0b5458.1af40c","name":"","group":"5d13f501.a6963c","order":2,"width":0,"height":0,"label":"Blood Osygen Percentage Last 1 hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":680,"wires":[[]]},{"id":"a1194068.95d5c","type":"debug","z":"5c0b5458.1af40c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":720,"wires":[]},{"id":"3030e9b7.ea06f6","type":"function","z":"5c0b5458.1af40c","name":"Blood Pressure Sensor OUT","func":"msg.topic = msg.payload.condition\nmsg.systolic = msg.payload.systolic;\nmsg.diastolic = msg.payload.diastolic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["9221876f.5f36c8","ad91f0a6.02d16","ea0d85ab.91cd98"]]},{"id":"9221876f.5f36c8","type":"function","z":"5c0b5458.1af40c","name":"Manipulate Systolic","func":"msg.topic = \"Systolic\";\nmsg.payload = msg.systolic;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["16121237.ba198e"]]},{"id":"ad91f0a6.02d16","type":"function","z":"5c0b5458.1af40c","name":"Manipulate Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.diastolic\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["ca78091a.f0bc28"]]},{"id":"ea0d85ab.91cd98","type":"debug","z":"5c0b5458.1af40c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":520,"wires":[]},{"id":"16121237.ba198e","type":"ui_chart","z":"5c0b5458.1af40c","name":"","group":"8c01eebc.befcc","order":1,"width":0,"height":0,"label":"BP Systolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"ca78091a.f0bc28","type":"ui_chart","z":"5c0b5458.1af40c","name":"","group":"8c01eebc.befcc","order":2,"width":0,"height":0,"label":"BP Diastolic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":480,"wires":[[]]},{"id":"cb8352b.a4909b","type":"inject","z":"b9b749ce.f384d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["888b17ab.7c7fd8"]]},{"id":"d6e5b7e3.bdaad8","type":"debug","z":"b9b749ce.f384d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":420,"wires":[]},{"id":"888b17ab.7c7fd8","type":"http request","z":"b9b749ce.f384d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://a16xz33jwzqi3i-ats.iot.eu-west-1.amazonaws.com/things/device-1/shadow","tls":"639d36bd.14ed28","persist":false,"proxy":"","authType":"","x":330,"y":420,"wires":[["d6e5b7e3.bdaad8"]]}]